<% content_for :header do %>
  <%= button_to "Login using Dropbox", session_path, :class => "login" %>
<% end %>

<%= image_tag "letter.png", :id => "letter", :width => 432, :height => 400 %>

<h2>This is Not the Internet</h2>

<p>The Internet is not a place where website hosting is expensive. It is not a
place where getting your files online involves arcane technologies like
ftp, rsync, or scp. It is not a place where only one person knows how to update
your very important website.</p>

<h2>This is the Internet</h2>

<p>The Internet is a place where website hosting is cheap, easy, and
understandable. Collaboration is simple, and no one person has the keys to the
site. At SimpleTubes, we make the Internet what it should be. Enter your email
address in the box below to register for the Beta and find out how SimpleTubes
makes the Internet better.</p>

<h2>Register for the Beta</h2>
<%= form_for @beta_signup do |f| %>
  <%= success_messages %>
  <%= error_messages %>
  <%= f.text_field :email, :class => "default", :value => "Type your email address here!" %> &raquo; <%= f.label :email, "Email Address" %><br />
  <%= submit_tag "Sign-up Now" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag  "pages/static_welcome" %>
<% end %>
